*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding-top: 50px ;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    margin-right: 65px;
}
.nav-list li:last-child{
    margin-right: 0;
}
.nav-list a{
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 26px;
    line-height: 30px;

color: #000000;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    align-items: center;
}
body{
    font-family: Roboto, sans-serif;
    color:#000000
}
h1{
    font-size: 40px;
    line-height: 47px;
    max-width: 400px;
}
p{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 26px;
}
.btn{
    background-color: #C4C4C4;
    border-radius: 16px;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    text-align: center;
    border:0;
    padding: 14px 124px 14px 124px;
}
.info{
    text-align: center;
    background-color: #F8B088;
}
.tt{
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    padding-top: 72px;
    padding-bottom: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ab{
    padding-bottom: 220px;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}
.skills{
    display: flex;
    text-align: center;
    background-color: #6F5BE7;
    
}
.skill{
    display: flex;
    flex-direction: column;
    padding-top: 124px;
    padding-right: 231px;
    width: 500px;
    
}
.skill:first-child{
    margin-right: 30px;
}
.skill:last-child{
    margin-left: 230px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts{
    background: rgba(0, 240, 255, 0.3);
}